*.json
*.yml
*.ray
*.png
*.jpg
*.jpeg
*.weights
data/*
results/*
src/tensorbox/data/*
src/tensorbox/output/*
src/darknet/data/*
src/darknet/results/*
src/baxterClassifier/cv.py
src/baxterClassifier/cv2.so
src/baxterClassifier/data/cifar/*
*.ckpt*
*.gz
*.xml
*.txt
*.zip
*.png
*.DS*
*.csv
