*.json
*.yml
*.ray
*.png
*.jpg
*.jpeg
*.weights
*.npz
data/*
results/*
src/tensorbox/data/*
src/tensorbox/output/*
src/darknet/data/*
src/darknet/results/*
src/baxterClassifier/data/*
src.baxterClassifier/model/*
*.ckpt
*.ckpt.meta
*.gz
*.xml
*.txt
*.zip
*.DS*
*.csv
*.pyc
