*.json
*.yml
*.ray
*.png
*.jpg
*.jpeg
*.weights
data/*
results/*
src/tensorbox/data/*
src/tensorbox/output/*
src/darknet/data/*
src/darknet/results/*
src/baxterClassifier/cv.py
src/baxterClassifier/cv2.so
*.ckpt*
src/baxterClassifier/data
